.footer {
    background-color: #00505F; /* Change to your desired color */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* This allows the footer to be placed naturally at the bottom */
    width: 100%;
}

.footer-content a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
